.card {
    max-width: 360px;
}

.card__container {
    position: relative;
    height: 201px;
}

.card__container_sm:hover .card__delete-button {
    display: block;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__save-button {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 72px;
    color: white;
    background-color: #313131;
    border: none;
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    padding: 6px 7px;
    border-radius: 30px;
}

.card__delete-button {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 21px;
    height: 21px;
    background-color: #EE3465;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__delete-button_cross {
    display: none;
    background-color: #313131;
}

.card__symbol {
    width: 8px;
    height: 4.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/checkmark.svg);
    background-position: center;
    background-size: cover;
}

.card__symbol_cross {
    height: 8px;
    background-image: url(../../images/cross.svg);
}

.card__description {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 0 0;
    padding: 0 14px 0;
}

.card__title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.card__duration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2F;
    padding: 3px 4px;
    border-radius: 3px;
}

.card__duration-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    margin: 0;
    color: #8B8B8B;
    white-space: nowrap;
}

@media screen and (max-width: 1279px) {
    .card {
        max-width: 339px;
    }
    
    .card__description {
        margin: 25px 0 0 0;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .card {
        max-width: 300px;
    }
    
    .card__container {
        height: 168px;
    }
    
    .card__save-button {
        top: 10px;
        right: 10px;
    }
    
    .card__delete-button {
        top: 10px;
        right: 10px;
    }

    .card__delete-button_cross {
        display: block;
    }
    
    .card__description {
        margin: 16px 0 0 0;
    }
    
    .card__title {
        font-size: 12px;
        line-height: 15px;
    }
}