.about-project {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 110px 70px;
}

.about-project__title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
    padding: 0 0 23px 0;
}

.about-project__container {
    padding: 70px 0 110px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
}

.about-project__block {
    width: 550px;
}

.about-project__subtitle {
    margin: 0 0 26px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__description {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.about-project__chart {
    display: grid;
    grid-template: repeat(2, 36px)/228px 912px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.about-project__chart-element {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #8B8B8B;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.about-project__chart-element_green {
    color: #000000;
    background-color: #3DDC84;
    width: 228px;
    height: 36px;
}

.about-project__chart-element_grey {
    color: #FFFFFF;
    background-color: #303030;
    width: 912px;
    height: 36px;
}

@media screen and (max-width: 1279px) {
    .about-project {
        padding: 90px 50px;
    }

    .about-project__container {
        padding: 70px 0 90px;
        gap: 30px;
    }
    
    .about-project__block {
        width: 319px;
    }

    .about-project__subtitle {
        margin: 0 0 22px 0;
    }

    .about-project__chart {
        grid-template: repeat(2, 36px)/140px 528px;
    }

    .about-project__chart-element_green {
        width: 140px;
    }

    .about-project__chart-element_grey {
        width: 528px;
    }
}

@media screen and (max-width: 767px) {
    .about-project {
        padding: 70px 18px;
    }

    .about-project__title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px 0;
    }

    .about-project__container {
        flex-direction: column;
        padding: 60px 0;
        gap: 56px;
    }
    
    .about-project__block {
        width: 284px;
    }

    .about-project__subtitle {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px 0;
    }

    .about-project__description {
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__chart {
        grid-template: repeat(2, 36px)/100px 184px;
    }

    .about-project__chart-element {
        font-size: 11px;
        line-height: 13px;
    }
    
    .about-project__chart-element_green {
        width: 100px;
    }
    
    .about-project__chart-element_grey {
        width: 184px;
    }
}