.search {
    margin: 0 auto;
    max-width: 1140px;
    padding: 80px 0 0;
    border-bottom: 1px #424242 solid;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.search__input {
    box-sizing: border-box;
    width: 1086px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
    padding: 16px 0 16px 20px;
    outline: none;
    border: 1px #2F2F2F solid;
}

.search__input:focus {
    border: 1px #4285F4 solid;
}

.search__button {
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.search__button-line {
    background-image: url(../../images/line.svg);
    width: 2px;
    height: 30px;
}

.search__button-arrow {
    background-image: url(../../images/arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    padding: 0 20px 0 0;
}

.search__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 28px 0 40px;
}

.search__filter-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .search {
        max-width: 708px;
    }

    .search__input {
        width: 654px;
    }

    .search__filter {
        margin: 40px 0 40px;
    }
}

@media screen and (max-width: 767px) {
    .search {
        max-width: 292px;
    }

    .search__input {
        width: 238px;
    }

    .search__filter {
        margin: 46px 0 40px;
    }
}